body {
    background-color: skyblue;
}

h1 {
    color: navy;
    background-color: antiquewhite;
}

/* Isso é um comentário */

p {
    color: #333;
    background-color: bisque;
    font-family: sans-serif;
}